<ion-view view-title="{{ receiver }}">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding" start-y="120000000000">
        <h4 class="text-center" ng-show="messages.length <= 0"><b>Say Hi! :)</b></h4>
        <ol class="messages" ng-show="messages.length > 0">
            <li ng-class="{ 'received-message': message.sender === receiver }" ng-repeat="message in messages">
                <p ng-bind-html="message.content"></p>
            </li>
        </ol>
    </ion-content>

    <ion-footer-bar class="bar-frosted item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon placeholder-icon"></i>
            <input type="text" placeholder="Type message.." ng-model="message">
        </label>

        <button class="button button-icon icon ion-android-send" ng-click="addMessage()" ng-disabled="message.length <= 0"></button>
    </ion-footer-bar>
</ion-view>