<ion-view view-title="tutor-requests">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    <ion-content>
      <div class="list">
        <form id="checkout-form" action="/transaction-endpoint" method="post">
          <div id="error-message"></div>
          <label class="item item-input" for="card-number">
            <span class="input-label">Card Number</span>
            <span class="hosted-field" id="card-number"></span>
          </label>

          <label for="cvv" class="item item-input">
            <span class="input-label">CVV</span>
            <span class="hosted-field" id="cvv"></span>
          </label>

          <label for="expiration-date" class="item item-input">
            <span class="input-label">Expiration Date</span>
            <span class="hosted-field" id="expiration-date"></span>
          </label>

          <input type="hidden" name="payment-method-nonce">
          <center><input type="submit" value="Pay" disabled class="button button-assertive" style="width: 300px;"></center>
        </form>
      </div>
    </ion-content>
</ion-view>
