<ion-view view-title="tutor-requests">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    <ion-content>
      <div class="list">
        <form id="checkout-form" action="/transaction-endpoint" method="post">
          <div id="error-message"></div>

          <label for="card-number">Card Number</label>
          <div class="hosted-field" id="card-number"></div>

          <label for="cvv">CVV</label>
          <div class="hosted-field" id="cvv"></div>

          <label for="expiration-date">Expiration Date</label>
          <div class="hosted-field" id="expiration-date"></div>

          <input type="hidden" name="payment-method-nonce">
          <input type="submit" value="Pay $10" disabled>
        </form>
      </div>
    </ion-content>
</ion-view>
