<ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Courses" icon="ion-university" ui-sref="requestList.acceptedList">
        <ion-nav-view name="course-list-tab">
        </ion-nav-view>
    </ion-tab>

    <ion-tab title="Requests" icon="ion-bookmark" ui-sref="requestList.pendingList">
        <ion-nav-view name="request-list-tab">
        </ion-nav-view>
    </ion-tab>
</ion-tabs>
