<ion-view view-title="Courses">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="course-list-content">
        <div class="list" id="course-list">
            <span
                class="item course-list-item"
                ng-repeat="course in tuteeCourseListController.courseList"
                ng-click="tuteeCourseListController.goToTutorList(course.name, course.major)">

                <div class="row">
                    <div class="col-100">
                        <h2><b>{{ course.name }}</b></h2>
                    </div>
                </div>

            </span>
        </div>
    </ion-content>
</ion-view>
