/* GLOBAL */
html, body {
    color: #555555;
}

/* MAIN COLOR: #e74c3c */

.button-brand-primary,
.button-brand-primary.activated {
    background-color: #e74c3c;
    border: none;
    color: #FFFFFF;
}

.button-brand-primary:hover,
.button-brand-primary:active {
    background-color: #c0392b;
    color: #FFFFFF;
}

.button-brand-primary:active {
    background-color: #c0392b;
}

.button.button-light {
    border-color: #dddddd;
}

.bar.bar-positive {
    background-color: #e74c3c;
    border: none;
}

.tabs-positive > .tabs,
.tabs-striped.tabs-positive .tabs {
    background-color: #e74c3c;
    border: none;
}

.bar.bar-positive .item-input-wrapper {
    background-color: #FCFCFC;
}

.item h1:last-child,
.item h2:last-child,
.item h3:last-child,
.item h4:last-child,
.item h5:last-child,
.item h6:last-child {
    margin-bottom: 4px;
}

.item,
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6 {
    overflow: visible;
}

input[type=search],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=color] {
    height: 25px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #555555;
}



/* UTILITY */
.row-xs-margin-top {
    margin-top: 10px !important;
}

.row-sm-margin-top {
    margin-top: 10px !important;
}

.row-md-margin-top {
    margin-top: 15px !important;
}

.row-lg-margin-top {
    margin-top: 30px !important;
}

.row-xl-margin-top {
    margin-top: 50px !important;
}

.inline-block {
    display: inline-block;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.normal-font-weight {
    font-weight: normal;
}




/* FORM ERROR HANDLING */
.has-error {
    border-bottom: 2px solid #F44336;
}

.error-container {
    margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0;
}

.error {
    padding: 5px 12px;
    padding-left: 0;
    margin-bottom: 5px;
}

.error i {
    font-size: 24px;
    color: #008080;
    vertical-align: middle;
    margin-right: 10px;
}




#row-home-logo {
    height: 50%;
}

#row-home-logo .col {
    text-align: center;
}

.home-logo {
    width: 200px;
    height: auto;
}

#brand-text-row {
    font-family: BebasNeue;
    justify-content: center;
}

.brand-header-text {
    margin-top: 0;
    margin-bottom: 0;
}

.brand-green {
    color: #008080;
}

.brand-black {
    color: #333333;
}

#home-content button {
    width: 100%;
}



.register-section-title-row h5 {
    margin-top: 0;
    margin-bottom: 0;
}

#register-content .list {
    margin-bottom: 0;
}

#register-content button {
    width: 100%;
}

#register-button-row {
    margin-bottom: 50px !important;
}




#login-content button {
    width: 100%;
}



#tutor-list .tutor-list-item {
    padding-left: 90px;
    padding-top: 13px;
    padding-bottom: 10px;
}

#tutor-list .row {
    padding-left: 0;
    padding-right: 0;
}

#tutor-list .row .col-25 {
    text-align: right;
}

.tutor-filter-row {
    padding: 0;
}

.tutor-filter-row > .col {
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
}

.tutor-filter-row > .col:not(:last-child) {
    border-right: 1px solid #DDDDDD;
}

.tutor-price-range-filter {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.tutor-price-filter-row {
    padding-bottom: 0;
}

.tutor-price-filter-row .col {
    padding-bottom: 0;
}

.tutor-price-filter-row .col h4 {
    margin-bottom: 0;
}

.tutor-availability-filter:hover {
    cursor: pointer;
}

.profile-picture-img {
    max-width: 60px !important;
    max-height: 60px !important;
    top: 7px !important;
}

.no-tutor-header {
    text-align: center;
}

.no-tutor-header h4 {
    margin-top: 25px !important;
}





#major-list .item:hover {
    cursor: pointer;
}

.major-list-item {
    padding: 5px 10px;
}

.major-list-item > .row {
    align-items: center;
}

.major-list-item > .row > .col-90 {
    margin-left: 15px;
}

.major-list-item > .row h2 {
    margin-bottom: 2px;
}

.major-icon {
    font-size: 36px;
}




.course-list-item {
    padding: 5px 10px;
}

.course-list-item > .row {
    align-items: center;
}

.course-list-item > .row h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}




.tutor-profile-picture {
    width: 200px;
    height: auto;
}

#tutor-name {
    margin-bottom: 0;
}

#tutor-tagline {
    margin-top: 3px;
    text-decoration: italic;
}

#tutor-major {
    margin-bottom: 0;
}

#tutor-gpa {
    margin-top: 5px;
    margin-bottom: 0;
}

#tutor-hourly-rate {
    margin-top: 3px;
    margin-bottom: 0;
}

#tutor-contact {
    margin-top: 3px;
}

#tutor-details-content button {
    width: 100%;
}

.tutor-small-details {
    color: #888888 !important;
}





#ListAccepted{
  margin-top: 50px;
}

#TabBottom{
  margin-top: 90%;

}

.listProfile li{
  display: inline;
}

.rightPart{
  margin-left: 70%;
}

.request-list .item-avatar .item-content {
    padding-left: 90px;
}

.listProfilePicture{
  max-width: 60px !important;
  max-height: 60px !important;
  top: 6px !important;
}

h2 .idListName{
  margin-left: 20px;
}




.request-list .item:first-child,
.request-list .item-avatar.item-complex:first-child {
    border-top: none !important;
}





.request-booking-tutor-profpic {
    width: 100px;
    height: auto;
}

#request-booking-tutor-name {
    margin-top: 5px;
    margin-bottom: 0;
}

#request-booking-major-price {
    margin-top: 4px;
}

.tutor-details-row .col.col-67 {
    padding-left: 15px;
}

.request-booking-section-title-row h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.request-booking-date-col button,
.request-booking-time-col button {
    width: 49%;
}

.request-booking-delete-date-icon {
    font-size: 28px;
}

.request-booking-delete-date-icon:hover {
    cursor: pointer;
}

.request-booking-add-date-row button {
    width: 100%;
}

#request-booking-button-row button {
    width: 100%;
}





#request-details-content #tourist-name {
    margin-bottom: 0
}

#request-details-content #tourist-contact {
    margin-top: 3px;
}

#request-details-total-cost-row h4 {
    margin-bottom: 0;
}

#request-details-datetime-row .list-inset {
    margin: 0;
}

#request-details-date-time h4 {
    margin-top: 0;
    margin-bottom: 0;
}

#request-details-button-row button {
    width: 100%;
}

.request-booking-date-row button {
    width: 100%;
}





.tutee-request-list-details {
    align-items: center;
}

.tutee-request-list-tutor-email {
    margin-bottom: 0 !important;
}

.tutee-request-list-total-price {
    margin-bottom: 0 !important;
}

.tutee-request-list-major {
    margin-bottom: 0 !important;
}

.tutee-request-list-course {
    margin-bottom: 0 !important;
}

img.tutee-request-list-avatar {
    width: 80px !important;
    height: 80px !important;
}

#tutor-requests-content .item-content {
    padding-left: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}








.messages {
    margin:0;
    padding:0;
    list-style-type:none;
}

.messages li {
    display:block;
    clear:both;
    max-width:50%;
    margin:0 0 1rem 0;
    padding:0;
    border-radius:.75rem;
}

.messages li.received-message {
    float: right;
    background: #e74c3c;
    color: #fff;
}

.messages li p {
    border-radius:.75rem;
    background:#e6e5eb;
    color:#383641;
    padding:.6875rem;
    margin:0;
    font-size:.875rem;
}

.messages li.received-message p {
    border-radius: .75rem;
    background: #e74c3c;
    color: #ffffff;
    padding: .6875rem;
    margin: 0;
    font-size: .875rem;
}







#request-details-content h5 {
    margin-top: 0;
    margin-bottom: 2px;
}

#request-details-datetime-row {
    margin-top: -10px;
}